---
layout: archive
title: "Supervision"
permalink: /talks/
author_profile: true
---

<p>I love to collaborate and work with fresh students! If you're interested in Machine Learning for Speech Processing Applications, including ASR, TTS, Deepfake Detection, LLMs, Arabic NLP, and Speech Systems, feel free to reach out to me. I am more than willing to dedicate time and help guide your research and projects. Don't hesitate to contact me if you'd like to work together!</p>
<!-- 
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
